.column{
 
 border-radius: 5px;
 padding-top: 20px;
 width: 100%;
 display: flex;
 flex-direction: column;
 gap: 15px;
}

.success_message{
    display: flex;
    margin: 0px;
    justify-content:center;
    align-items: center; 
}
.success_message span{
    color: green;
    margin: 0px;
}
.success_message svg{
    fill: green !important;
}